@media screen and (min-width: 768px) {
  .contacts-inner {
    justify-content: flex-end;
  }

  .contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 155px;
  }

  .contacts__inner-list-item:nth-child(2) {
    grid-column: 1;
  }

  .contacts__inner-list-item:nth-child(3) {
    grid-column: 1;
  }

  .contacts__inner-list-item:nth-child(4) {
    grid-row: 1;
  }

  .contacts__inner-list-item:nth-child(5) {
    grid-row: 2;
  }

  .contacts__inner-list-item:nth-child(4),
  .contacts__inner-list-item:nth-child(5) {
    grid-column: 2;
  }
  .contacts-left {
    margin: 0 0 72px 0;
  }
  .contacts-descr {
    width: 343px;
  }

  li.contacts__inner-maps-1 {
    display: flex;
    flex-direction: row-reverse;
  }
  .contacts__inner-maps-1-iframe {
    width: 344px;
    height: 250px;
    display: contents;
  }

  li.contacts__inner-maps-1 {
    gap: 13px;
    margin: 0 0 44px 0;
  }
  .contacts-inner-wrap {
    display: flex;
    gap: 16px;
    align-items: center;

  }
  .contact-inner-box-title {
    text-align: left;
    margin: 0 0 16px 0;
  }
  .contact-inner-box-img {
    margin: 0 0 42px 0;
    width: 344px;
    height: 206px;
  }
  p.contact-inner-box-descr {
    text-align: left;
  }
  .contact-inner-box {

    width: 344px;
  }
  .contacts-section{
    margin: 40px 0 72px 0;
  }


}

@media screen and (min-width: 1240px) {
  .contacts-inner {
    width: 100%;
  }
  .contacts-list {
    display: flex;
    gap: 42.5px;
    flex-direction: row;
    width: 100%;
  }
  .contacts-left {
    width: 100%;
  }
  .contacts__inner-icon {
    width: 40px;
    height: 40px;
  }
  .contacts__inner-link {
    gap: 22px;
  }
  .contacts-left {
    margin: 0 0 112px 0;
  }
  .contacts-descr {
    width: 462px;
  }
  .contacts__inner-maps-1-address-link {
    font-size: 18px;
  }
  li.contacts__inner-maps-1 {
    gap: 171px;
    margin: 0 0 36px 0;
  }
  .contacts__inner-maps-1-iframe {
    width: 484px;
    height: 357px;
    display: block;
    margin: 0;
  }
  .contact-inner-box {
    width: 502px;
  }
  .contact-inner-box-img {
    margin: 0 0 42px 0;
    width: 100%;
  }
  .contact-inner-box-img {
    margin: 0 0 86px 0;
    height: 280px;
    width: 502px;
  }
  .contact-inner-box-title {
    margin: 0 0 24px 0;
  }

  .contacts-inner-wrap {
    gap: 98px;
  }
  .contacts-section{
       margin: 56px 0 112px 0;
     }
}