.library {
  padding: 40px 0 80px 0;
  &_title {
    font-size: 30px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    line-height: 1.13;
    color: $black;
    margin-bottom: 24px;
    text-align: center;
  }
  &_list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    &-item {
      width: 100%;
      &__btn {
        padding-top: 12px;
        width: 100%;
        border: none;
        background-color: transparent;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $black;
      }
      &__current {
        &-btn {
          font-weight: 600;
        }
      }
      &__current::after {
        content: "";
        display: block;
        width: 100%;
        border: 3px solid $yellow;
        border-radius: 5px;
      }
    }
  }
  &_grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &_item {
    display: flex;
    cursor: pointer;
    gap: 14px;
    flex-direction: column;
  }
  &_item-text {
    display: flex;
    gap: 16px;
  }
  &_img {
    width: 74px;
    height: 45px;
    border: 1px solid $grey-dark;
    border-radius: 8px;
  }
  &_subtext {
    color: #2031cb;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-variant-numeric: lining-nums proportional-nums;
    padding: 12px 0;
    justify-content: center;
  }
  &_wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  &_text {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    font-family: "Raleway", sans-serif;
    font-variant-numeric: lining-nums proportional-nums;
  }
  &_svg {
    margin-right: 10px;
  }
  &-scroll {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
    align-items: center;
    &-arrow {
      stroke: $grey-dark;
    }
    &-page {
      height: 1px;
      width: 29px;
      background-color: $grey-dark;
    }
  }
  &-nav {
    display: none;
  }
}

.active-arrow {
  stroke: $black;
}
.active-page {
  background-color: $black;
  height: 2px;
}
