@media screen and (min-width: 768px) {
       .library{
       padding: 40px 0 72px 0;
    
        &_title {
          text-align: left;
    
        }
        &_list {
           display: flex;
           flex-direction: row;
           gap: 8px;
           &-item {
            display: inline-block;
            list-style: none;
            margin-bottom: 0;
            &__btn {
                width: 170px;

            }
           }
           
        } 
        
        &_item {
            display: flex;     
            width: calc((100% - 1 * 16px) / 2); 
            &-pagination {
                display: none;
            }      
        }
        &_item:hover,
        &_item:focus {
            outline: 2px solid #2031CB;
        }
        &_wrapper {
            margin-bottom: 32px;
        }
        &_grid-wrapper {
            display: flex;
            gap: 32px 16px;
            flex-wrap: wrap;
            flex-direction: row;
        }
        &_img {
            width: 74px;
            height: 62px;
        }
        &_text {
            margin-bottom: 0;
        }
    }
  }
    
    
  @media screen and (min-width: 1240px) {
    .container {
      width: 1240px;
      padding: 0 50px;
    }
  
    .library{
        margin: 64px auto 112px auto;
        &_title {
           text-align: left;
    
        }
        &_list {
            display: flex;
            flex-direction: row;
            gap:60px;
        } 
       
        &_list-svg{
            display: block;
        }
        &_item {
            display: flex;
            width: 558px;
            height: 164px;
            flex-shrink: 0;
            
        }
        &_item:hover,
        &_item:focus {
            outline: 2px solid #2031CB;
        }
        
        &_img {
            width: 267px;
            height: 164px;
            flex-shrink: 0;
        }
        &_grid-wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 60px;
            margin-top: 55px;
          
        }
        &_text {
            margin-bottom: 65px;
        }
    
    }
}

