.hero {
  margin: 40px auto 80px auto;
  background-image: url("../images/backgraund.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;

  &-inner {
    display: block;
    text-align: center;

    &__caption {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 16px;
    }

    &__title {
      font-size: 31px;
      font-weight: 700;
      line-height: 44px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    &__btn {
      background-color: $violet;
      border-radius: 4px;
      color: $white;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 10px;
      width: 100%;
      margin-bottom: 32px;
      border: 1px solid $violet;
      transition: background-color, color 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn:hover {
      background-color: $white;
      color: $violet;
    }

    &__list {
      display: flex;
      gap: 5px;
      align-items: flex-end;
      margin-bottom: 24px;
      justify-content: center;

      &-item-img {
        width: 62px;
        border-radius: 4px;
      }

      &-item-img-3 {
        width: 99px;
      }
    }

    &__list-benefits {
      display: flex;
      gap: 27px;
      margin-bottom: 44px;
      justify-content: center;

      &-item > span {
        color: $grey;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        line-height: 4px;
      }

      &-item-num {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 44px;
        text-transform: uppercase;
        font-family: Inter, sans-serif;
      }

      .benefits-item-num-1 {
        color: $violet;

      }

      .benefits-item-num-2 {
        color: $green;
      }
    }

    &__descr {
      color: $black;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 22.5px;
    }
  }
}

.about-us {
  margin: 0 0 80px 0;

  &-inner {

    background-image: url("../images/about-us-decor.svg");
    background-repeat: no-repeat;
    background-position: top right;

    &__title {
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      margin: 0 0 22px 0;
    }

    &__img {
      border-radius: 4px;
      width: 100%;
      margin: 0 0 24px 0;
    }

    &__descr {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 20px 0;
    }

    .about-us-inner-icon {
      fill: $grey-light;
      transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn {
      margin: auto;
      color: $black;
      display: flex;
      align-items: center;
      gap: 4px;
      width: 168px;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      padding: 14px 28px 14px 0;
      transition: color 450ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &__btn:hover .about-us-inner-icon {
      transform: rotate(315deg);
      fill: $violet;

    }

    &__btn:hover {
      color: $violet;
      gap: 15px;
      width: 179px;
    }
  }
}

.directions-work {
  margin: 0 0 78px 0;

  &-inner {
    &__title {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      line-height: 34px;
      margin: 0 0 32px 0;
    }

    &__list-item {
      margin: 0 0 16px 0;

      &-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
      }

      &-descr {
        margin: 0 0 0 20px;
      }
    }

    &-title {
      display: flex;
      gap: 12px;
      align-items: center;
      margin: 8px 0;
    }

  }

}

.news {
  margin: 0 0 80px 0;

  &__inner {

    &-title {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      margin: 0 0 24px 0;
    }

    &-btn-top {
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 0 24px 0;

      &-item-img {
        width: 100%;
        border-radius: 4px;
        margin: 0 0 8px 0;
        object-fit: cover;
      }

      &-item-title {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        margin: 0 0 4px 0;
      }

      &-item-descr {
        overflow: hidden;
        color: $grey;
        text-overflow: ellipsis;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        height: 72px;
        margin: 0 0 12px 0;
      }
    }

    &-item-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-date {
        font-size: 12px;
        font-weight: 600;
        line-height: 4px;
      }

      &-btn {
        width: 176px;
        margin: 0;
      }
    }

    &-btn {
      padding: 10px;
      border-radius: 4px;
      background-color: $violet;
      margin: auto;
      width: 100%;
      display: block;
      text-align: center;
      border: 1px solid $violet;
      transition: background-color, color 450ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &-btn:hover {
      color: $violet;
      background-color: $white;
    }
  }

}

.our-partners {
  margin: 0 0 80px 0;

  &__inner {
    margin: auto;
    text-align: center;
    width: 100%;
    overflow: hidden;

    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      margin: 0 0 24px 0;
    }

    &-list {
      padding: 33px 0;
      display: flex;
      align-items: center;
      gap: 34px;
      animation: scrolling 20s linear infinite;
    }
  }
}

.about-partnerships {
  margin: 0 0 80px 0;

  &__inner {
    &-title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      margin: 0 0 24px 0;
    }

    &-img {
      width: 100%;
      object-fit: cover;
      height: 264px;
      border-radius: 4px;
      margin: 0 0 16px 0;
    }

    &-descr {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 24px 0;
    }

    &-btn {
      border-radius: 4px;
      width: 100%;
      padding: 10px;
      background-color: $violet;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      text-align: center;
      border: 1px solid $violet;
      transition: background-color, color 450ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &-btn:hover {
      background-color: $white;
      color: $violet;
    }
  }
}

.contacts {
  margin: 0 0 112px 0;
  &__inner {
    &-title {
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      margin: 0 0 24px 0;
    }

    &-descr {
      font-size: 16px;
      font-weight: 600;
      line-height: 22.5px;
      text-align: center;
      margin: 0 0 24px 0;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 0 0 0 66px;
      &-item {
        &-link {
          color: $black;
          display: flex;
          align-items: center;
          gap: 16px;
          font-size: 16px;
          font-weight: 600;
          line-height: 22.5px;
        }
      }
    }
  }

  &-form {
    margin: 0 0 78px 0;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin: 0 0 28px 0;
    }

    &-input {
      padding: 10px;
      border-radius: 4px;
      border: 1px solid $grey-dark;
      background-color: $white;
    }

    &-textarea {
      padding: 16px;
      border-radius: 4px;
      border: 1px solid $grey-dark;
      background-color: $white;
      resize: none;
      height: 160px;
    }
    &-label {
      font-size: 18px;
    }
    &-privacy-policy {
      display: flex;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 4px;
      color: #717171;
      align-items: center;
      gap: 8px;
      margin: 0 0 8px 0;
    }

    &-btn {
      border-radius: 4px;
      width: 100%;
      cursor: pointer;
      padding: 10px;
      background-color: $violet;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      text-align: center;
      border: 1px solid $violet;
      transition: background-color, color 450ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    &-btn:hover {
      background-color: $white;
      color: $violet;
    }
  }


}


@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
