@media screen and (min-width: 375px) {
  .container {
    width: 343px;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    padding: 0 32px;
  }
  .hero {
    margin: 40px auto 72px auto;

    &-inner__title {
      font-size: 31px;
      margin-bottom: 32px;
    }

    &-inner__list {
      height: 210px;
      gap: 16px;

      &-item-2 {
        margin: 0 0 32px 0;
      }

      &-item-3 {
        margin: 0 0 32px 0;
      }

      &-item-4 {
        margin: 0 0 32px 0;
      }

      &-item-5 {
        margin: 0 0 32px 0;
      }
    }

    &-inner__btn {
      width: 344px;
    }

    &-inner__list-item-img {
      width: 104px;
    }

    &-inner__list-item-img-3 {
      width: 224px;
    }

    &-inner__list-benefits {
      gap: 88px;
      width: 464px;
      margin: 48px auto;
    }

    &-inner__descr {
      width: 397px;
      margin: auto;
    }
  }

  .about-us {
    margin: 0 0 72px 0;

    &-inner {
      overflow: auto;

      &__title {
        text-align: left;
        margin: 0 0 32px 0;
      }

      &__img {
        object-fit: cover;
        width: 344px;
        height: 216px;
        float: right;
        margin: 0 0 24px 24px;
      }
    }
  }

  .directions-work {

    &-inner {
      &__list {
        display: flex;
        gap: 17px;
      }

      &__list-column {
        display: flex;
        flex-direction: column;
        gap: 60px;
      }

      &__title {
        text-align: left;
      }

      &__list-item-descr {
        width: 291px;
      }

      &__list-item {
        margin: 0;
      }
    }

  }

  .news {
    &__inner {
      &-title {
        text-align: left;
        margin: 0 0 32px 0;
      }

      &-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 52px 0;

        &-item {
          width: 312px;

          &-title {
            padding: 0 8px;
          }

          &-descr {
            padding: 0 8px;
          }


        }
      }

      &-item-bottom {
        padding: 0 0 0 8px;
      }

      &-btn {
        width: 344px;

      }
    }
  }
}

@media screen and (min-width: 1240px) {
  .container {
    width: 1140px;
    padding: 0;
  }
  .hero {
    margin: 64px auto 112px auto;

    &-inner__title {
      font-size: 44px;
      margin-bottom: 32px;
      line-height: 72px;
    }

    &-inner__list {
      height: 350px;
      gap: 24px;

      &-item-2 {
        margin: 0 0 61px 0;
      }

      &-item-3 {
        margin: 0 0 61px 0;
      }

      &-item-4 {
        margin: 0 0 61px 0;
      }

      &-item-5 {
        margin: 0 0 61px 0;
      }
    }

    &-inner__btn {
      padding: 12px 24px;
      width: 242px;
    }

    &-inner__list-item-img {
      width: 170px;
    }

    &-inner__list-item-img.hero-inner__list-item-img-3 {
      width: 364px;
    }

    &-inner__list {
      margin: -50px 0 0 0;
    }

    &-inner__list-benefits-item > span {
      font-size: 20px;
    }

    &-inner__list-benefits-item-num {
      font-size: 54px;
      margin: 0 0 16px 0;
    }

    &-inner-benefits-icon {
      width: 70.455px;
      height: 31px;
    }

    &-inner__list-benefits {
      gap: 28px;
      width: 100%;
      margin: 48px auto 64px auto;
    }

    &-inner__list-benefits-item {
      width: 207px;
    }

    &-inner__descr {
      width: 791px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  .about-us {
    margin: 0 0 112px 0;

    &-inner {
      &__title {
        font-size: 40px;
        margin: 0 0 36px 0;
      }

      &__img {
        width: 558px;
        height: 348px;
        margin: 0 0 0 50px;
      }

      &__descr {
        font-size: 18px;
        margin: 0 0 24px 0;
      }

      &__btn {
        margin: 0;
      }
    }
  }

  .directions-work {
    &-inner {
      &__title {
        margin: 0 0 44px 0;
      }

      &__list-item-descr {
        font-size: 18px;
      }

      &__list-item-title {
        font-size: 24px;
      }

      &__list {
        gap: 36px;
      }

      &__list-item-descr {
        width: 100%;
      }

      &__list-item-descr {
        width: 526px;
      }
    }

  }

  .news {
    margin: 0 0 112px 0;
    &__inner {
      &-list {
        gap: 24px;
        justify-content: space-between;
        margin: 0;
        &-item {
          width: 364px;

          &-img {
            margin: 0 0 12px 0;
          }

          &-title {
            margin: 0 0 8px 0;
            font-size: 20px;
            line-height: 22px;
          }

          &-descr {
            font-size: 18px;
            line-height: 24px;
          }

          &-bottom {
            &-date {
              font-size: 16px;
              line-height: 20px;
            }
          }

        }

      }
      &-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &-btn-top {
        padding: 14px 0;
        width: 123px;
        display: flex !important;
      }
      &-btn {
        display: none;
      }
    }
  }
}
