$violet: #663a7b;
$white: #fdfcfc;
$black: #070707;
$yellow: #f1cc75;
$light-violet: #ae9ac5; //по макету Main_Violet
$light-light-violet: #f5f2f7; //по макету Light_Violet
$blue: #8fcecb;
$green: #027f79;
$grey: #717171;
$grey-light: #4e4e4e;
$grey-dark: #cfcfcf;
